.book-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px;
    min-height: 350px;
}

.action-item{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}